
/* .slice{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    padding: 0px 8px;
    top: 40%;
} */
@media screen and (min-width:150px) and (max-width:768px){
    .containerBanner{
        display: flex;
        width: 100%;
        height: 300px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-position: center;
        background-size: cover;
    }
    .slice{
        display: flex;
        width: 95%;
        position: relative;
        padding: 5px;
        top: 45%;
    }
    .iconAngIzq{
        width: 2rem;
        height: 2rem;
        background-color: rgba(128, 128, 128, 0.5);
        cursor: pointer;
        margin-right: auto;
        transition: 500ms;

    }
    .iconAngDer{
        width: 2rem;
        height: 2rem;
        background-color: rgba(128, 128, 128, 0.5);
        cursor: pointer;
        margin-left: auto;
        transition: 500ms;
    }
    .containerbuttonSlide{
        display: flex;
        gap: 15px;
        position: relative;
        bottom: 2%;
    }
    .buttonSlide{
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 100%;
        transition: 500ms;
    }
    .infoBanner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
        /* height: 60%; */
        position: relative;
        right: 13%;
        /* top: 2%; */
        gap: 10px;
    }
    .titleBanner{
        color: #fff;
        font-size: 0.7rem;
        font-weight: bold;
    }
    .descriptionBanner{
        color: #fff;
        font-size: 0.5rem;
        height: 100%;
        overflow: hidden;
        text-align: justify;
        text-orientation: sideways;
        /* white-space: nowrap; */
        text-overflow: ellipsis;
    }
    .playTrailer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        gap: 6px;
        color: white;
        background-color: red;
        width: 80px;
        border-radius: 6px;
        font-weight: bold;
        cursor: pointer;
    }
    .logoPlay{
        display: flex;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: white;
    }
    .span{
        font-size: 0.4rem;
    }

}

@media screen and (min-width:769px){
    .containerBanner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1440px;
        height: 100vh;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        background-position: center;
        background-size: cover;
    }
    .slice{
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: relative;
        top: 50%;
    }
    .iconAngIzq{
        width: 4rem;
        height: 4rem;
        background-color: rgba(128, 128, 128, 0.5);
        cursor: pointer;
        transition: 500ms;
    }
    .iconAngDer{
        width: 4rem;
        height: 4rem;
        background-color: rgba(128, 128, 128, 0.5);
        cursor: pointer;
        transition: 500ms;
    }
    .buttonSlide{
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 100%;
        transition: 500ms;
    }
    .containerbuttonSlide{
        display: flex;
        gap: 15px;
        position: relative;
        bottom: 0%;
    }
    .infoBanner{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 45%;
        gap: 20px;
        position: relative;
        right: 20%;
        top: 5%;
        /* background-color: blue; */
    }
    .titleBanner{
        color: #fff;
        font-size: 2.2rem;
        font-weight: bold;
    }
    .descriptionBanner{
        color: #fff;
        height: 100%;
        overflow: hidden;
        /* white-space: nowrap; */
        text-overflow: ellipsis;
        font-size: 1.4rem;
    }
    .playTrailer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        gap: 8px;
        color: white;
        background-color: red;
        width: 160px;
        border-radius: 8px;
        font-weight: bold;
        transition: 500ms;
    }
    .logoPlay{
        display: flex;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-color: white;
    }
    .span{
        font-size: 0.8rem;
    }
}

@media screen and (min-width:1024px) and (max-width:1024px) {
    .containerBanner{
        height: 40vh;
        background-position: center;
        background-size: cover;
    }
    .slice{
        display: flex;
        position: relative;
        top: 15vh;
    }
    .containerbuttonSlide{
        display: flex;
        gap: 15px;
        position: relative;
        top: 0%;
    }
    .infoBanner{
        display: flex;
        flex-direction: column;
        width: 48%;
        height: 20vh;
        gap: 20px;
        position: relative;
        right: 18%;
        top: -3vh;
        /* background-color: blue; */
    }
    .titleBanner{
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .descriptionBanner{
        display: flex;
        color: #fff;
        overflow: hidden;
        width: 100%;
        height: 50vh;
        text-overflow: ellipsis;
        font-size: 0.8rem;
    }
}

.iconAngIzq:hover{
    background-color: transparent;
    transform: scale(1.3);
}
.iconAngDer:hover{
    background-color: transparent;
    transform: scale(1.3);
}
.buttonSlide:hover{
    background-color: red;
    transform: scale(1.5);
}
.playTrailer:hover{
    background-color: rgba(255, 0, 0, 0.671);
    transform: scale(1.1);
}


