@media screen and(min-width:150px) and (max-width:425px){
    .containerMovie{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        border: 2px solid red;

    }
}

@media screen and (min-width:426px){
    .containerMovie{
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        gap: 30px;
        border: 2px solid red;
    }

}

