@media screen and(min-width:150px) and (max-width:425px){
    .containerMovie{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;

    }
}

@media screen and (min-width:426px){
    .containerMovie{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
        /* max-width: 1300px; */
    }

}

