.containerCardMovie{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 250px;
    height: 500px;
    margin: 25px 0;
    position: relative;
    transition: 800ms;
}
.containerCardMovie:hover{
    transform: scale(1.1);
}
.containerCardMovie h1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 90px;
    height: 30px;
    text-align: center;
    /* background-color: rgba(92, 90, 90, 0.5); */
    padding: 8px;
    position: absolute;
    top: 5%;
    left: 7%;
}
.imageCard{
    width: 250px;
    height: 433px;
    border-radius: 20px;
    object-fit: cover;
}
.titleMovie{
    font-size: 1.2rem ;
    font-weight: bold;
}
.titleYearMovie{
    color: gray;
    font-weight: bold;
}