@media screen and (min-width:150px) and (max-width:640px){
    .containerSearchBar{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        padding: 0 15px;
        gap: 10px;
    }
    .inputName{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 30px;
        padding: 15px;
        border-radius: 7px;
        border: 1px solid black;
        position: relative;
        left: 3%;
    }
    .logoBuscar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 10%;
        cursor: pointer;
    }
    .selectYear{
        display: flex;
        width: 80px;
        height: 37px;
        padding: 4px;
        border: 1px solid black;
        border-radius: 8px;
    }
}
@media screen and (min-width: 641px){
    .containerSearchBar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        /* height: 250px; */
        gap: 20px;
        padding: 10px;
    }
    .logoBuscar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 94%;
        cursor: pointer;
    }

}

@media screen and (min-width:768px){
    .containerSearchBar{
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 1024px;
        height: 150px;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 60px 0;
        gap: 40px;
    }
    .buscar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }
    .inputName{
        width: 0rem;
        height: 40px;
        padding: 15px;
        border-radius: 7px;
        border: 1px solid black;
        position: absolute;
    }
    .logoBuscar{
        display: flex;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 94%;
        cursor: pointer;
    }
    .selectYear{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 45px;
        padding: 7px;
        border: 1px solid black;
        border-radius: 7px;
    }
}

